.containerDonor{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 10.8vh);
    background-color: #383838;
    color: #FAF5E9;
    gap: 18px;
    padding: 10px;
    box-sizing: border-box;
}

.header-actions{
    display: flex;
    gap: 10px;
}
.header-btns{
    width: 100%;
    max-width: 900px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.btns-donor{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.btn-back{
    display: flex;
    align-items: center;
    background-color: #000000;
    font-size: 14px;
    color: #FAF5E9;
    border: none;
    border-radius: 6px;
    padding: 8px;
    gap: 6px;
    cursor: pointer;

    &:hover{
        opacity: 0.8;
    }
}

.btn-edit, .btn-add{
    padding: 8px;
    border: none;
    border-radius: 6px;
    color: #FAF5E9;
    cursor: pointer;
    min-width: 80px;

    &:hover{
        opacity: 0.8;
    }
}

.btn-edit{
    background-color: green;
}

.btn-add{
    background-color: #385BAD;
}

.btn-delete{
    background-color: #D60B0C;
    border: none;
    border-radius: 6px;
    color: #FAF5E9;
    width: 70px;
    cursor: pointer;
}

.formDonor{
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 6px;
    padding: 15px 20px;
    gap: 2px;
    background-color: #1F1D1D;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;    
    box-sizing: border-box;
    
    label{
        font-size: 12px;
    }
    
    input, textarea, select{
        outline: none;
        padding: 6px 15px;
        border: none;
        background-color: #363A3D;
        color: #FAF5E9;
        font-size: 12px;
        border: none;
        border-radius: 0px 6px 6px 0px;
        text-align: center;
        word-wrap: break-word;
        box-sizing: border-box;
    }

}

/* Mobile first approach - Estilos para dispositivos pequenos */
@media (max-width: 479px) {
    .header-btns {
        flex-direction: column;
        align-items: flex-start;
        width: 99%;
    }

    .header-actions{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    
    .btns {
        display: flex;
        width: 100%;
        justify-content: flex-end;
       
       
    }
    
    .formDonor {
        padding: 10px;

        input, select, label, textarea{
            font-size: 14px;
        }
    }

}

/* Tablets e dispositivos médios */
@media (min-width: 480px) and (max-width: 699px) {
    .formDonor {
        display: grid;
        grid-template-columns: auto auto;

    }
    .input-field {
        width: 100%;
        max-height: 80px;

        input, label, select, textarea{
            font-size: 14px;
        }
    }
}

/* Dispositivos médios para grandes */
@media (min-width: 700px){
    .formDonor{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 15px;
    }
    
    .formDonor textarea {
        grid-column: span 2;
    }
}

@media (min-width: 800px) and (max-width: 1199px){
    .formDonor{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px){
    .formDonor{
        grid-template-columns: auto auto auto;
        max-width: 900px;
        gap: 8px;
    }

    .formDonor textarea[name="observacao"] {
        grid-column: span 2;
    }

    .formDonor textarea[name="referencia"] {
        grid-column: span 2;
    }
}



