.receiver-donations-main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 10px;
    gap: 10px;
}

.receiver-donations-header{
    display: flex;
    align-items: center;
    width: 1134px;
    border-radius: 10px;
}

.receiver-donations-header-title-text{
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 6px;
}

.receiver-donations-form{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1F1D1D;
    width: 1134px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.receiver-donations-form-input{
    display: flex;
    align-items: center;
    justify-content: center;

    & select{
        width: 220px;
        text-align: start;
    }
}

.receiver-donations-form-message{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1134px;
    height: 30px;
    border-radius: 6px;
    gap: 6px;

    & .receiver-donations-form-message-text{
        display: flex;
        align-items: center;
        gap: 6px;
    }
}

.receiver-donations-table{
    width: 1134px;
    border-radius: 10px;
}

.receiver-donations-table-header{
    & th{
        background-color: black;
        border-radius: 6px;
        text-align: start;
        padding: 0 10px;
    }
}

.receiver-donations-table-body{
    & td{
        background-color: #1F1D1D;
        border-radius: 6px;
        text-align: start;
        padding: 0 10px;
    }
}

@media (max-width: 479px) {
    .receiver-donations-form{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 320px;
        gap: 32px;
    }

    .form-input{
        width: 220px;
    }

    .select-input{
        max-width: 176px;
    }

    .receiver-donations-table{
        width: 100%;
    }

    .receiver-donations-header{
        width: 100%;
    }
}

@media (min-width: 480px) and (max-width: 1199px){
    .receiver-donations-header{
        width: 100%;
    }
    .receiver-donations-form{
        display: flex;
        width: 100%;
        gap: 18px;
    }

    .form-input{
        width: 130px;
    }

    .select-input{
        max-width: 160px;
    }
}

@media (min-width: 1200px){
    .receiver-donations-header{
        width: 1134px;
    }
    .receiver-donations-form{
        width: 1134px;

    }
}
