.mainDashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 4px;
}

.sectionHeader {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.divCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  width: 220px;
  background-color: #1f1d1d;
  border-radius: 6px;
  border: 3px double transparent;
  padding: 20px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;

  &:hover {
    background-color: #2f2d2d;
    transition: 0.3s;
  }
}

.divCard.active {
  border: 3px double #faa01c;
  box-shadow: 0 4px 12px rgba(250, 160, 28, 0.4);
  transform: scale(0.98);
  transition: transform 0.1s;
}

.divHeader {
  display: flex;
}

.h3Header {
  font-size: 14px;
  font-weight: 800;
  color: #faf5e9;
}

.divBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  font-size: 14px;
  font-weight: 600;
  color: #faf5e9;
}

.motivational {
  width: 80%;
  display: flex;
  justify-content: center;
}

.motivational-card {
  display: flex;
  align-items: self-start;
  justify-content: end;
  width: 600px;
  height: 350px;
  border: 3px double #1f1d1d;
  box-shadow: 0 4px 12px rgba(250, 160, 28, 0.4);
  background-image: url("/src/assets/motivacao-do-empreendedor.png");
  border-radius: 6px;
}

.phrase {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 150px;

  h1 {
    color: #faa01c;
    font-size: 22px;
  }
}

.section-grafico {
  display: flex;
  width: 1100px;
  align-items: center;
  justify-content: center;
  border: none;
}

@media (min-width: 379px) and (max-width: 599px) {
  .sectionHeader {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 6px;
  }

  .divCard {
    width: 120px;
    height: 70px;
    padding: 10px;

    .h3Header {
      font-size: 9px;
    }

    p {
      font-size: 12px;
    }
  }

  .table-head-confirmation-text,
  .table-body-confirmation-tr {
    font-size: 9px;
  }

  .motivational {
    width: 100%;
  }

  .motivational-card {
    width: 100%;
    height: 350px;
    background-image: url("/src/assets/motivacao-do-empreendedor.png");
  }
}

@media (min-width: 600px) {
  .sectionHeader {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 6px;
  }

  .divCard {
    width: 180px;
    height: 80px;
    padding: 10px;
  }
}
