.operator-work{
    width: 100%;
    height: calc(100vh - 10.8vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    gap: 32px;
}

.operator-work-header{
    width: 700px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    border-radius: 6px;
    padding: 12px;
    gap: 12px;
    background-color: #1F1D1D;
}

.btn-gerar{
    height: 40px;
    width: 90px;
    border-radius: 6px;
    border: none;
    background-color: #385BAD;
    color: #FAF5E9;
    cursor: pointer;

    &:hover{
        opacity: 0.8;
    }
}