.donation-received-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - 11.2vh);
    padding: 12px;
    gap: 32px;
}

.donation-received-container-head{
    display: flex;
    align-items: flex-end;
    width: 50%;
    gap: 32px;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: #1f1d1d;
}

.donation-received-table{

}

.donation-received-table-tr{
    th{
        width: 230px;
        background-color: #000000;
        padding: 4px 12px;
        border-radius: 6px;
    }
}

.donation-received-table-body-tr{
    td{
        background-color: #1f1d1d;
        padding: 4px 12px;
        border-radius: 6px;
    }
}

.donation-received-result{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 52%;
    height: 6%;
    background-color: #1f1d1d;
    border-radius: 6px;
    padding-right: 12px;
    gap: 32px;
}