.table-wrapper {
  display: flex;
  justify-content: center;
}

.tabledonor {
  border: none;
  border-radius: 6px;
  font-size: 14px;
}

.tableBody {
  font-size: 14px;
}

.tableHead,
.tabledonor .tableBody {
  height: 40px;
  border: none;
  border-radius: 6px;
  padding: 2px 8px;
  min-width: 100px;
  max-width: 100px;
}

.tableBody {
  background-color: #1f1d1d;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.tableHead {
  background-color: #000000;
}

.trBody {
  cursor: pointer;
}

.trBody:hover {
  opacity: 0.5;
}

.tabledonor .no-data {
  text-align: center;
  padding: 20px;
  font-style: italic;
}

.obs {
  font-size: 9px;
  font-weight: 600;
  background-color: #000000;
  border: none;
  border-radius: 6px;
  padding-left: 10px;
  text-align: left;
}

/* Mobile - ajustes específicos */
@media (max-width: 699px) {

  .tabledonor .tableHead,
  .tabledonor .tableBody {
    font-size: 12px;
    padding: 6px 8px;
    min-width: 90px;
    /* Ligeiramente aumentado para melhor visualização */
  }

  .obs {
    font-size: 8px;
  }

  .table-wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    overflow-x: auto;

  }

  .tabledonor {}
}

/* Tablets */
@media (min-width: 700px) and (max-width: 1199px) {
  .obs {
    font-size: 9px;
  }

  .tableHead .tableBody {
    min-width: 120px;
  }

  .table-wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    overflow-x: auto;
  }

  .tabledonor {}
}

/* Desktop */
@media (min-width: 1200px) {
  .obs {
    font-size: 10px;
  }

  .tabledonor {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
  }

  .trHead {
    width: 100%;
  }

  .tableHead {
    max-width: 300px;
  }

  .tableBody {
    min-width: 10px;
  }
}