.CreateMensalDonation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.MonthlyfeeGeneratorComponent_div {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 400px;
  margin-top: 40px;
  gap: 18px;
  border-radius: 6px;
  padding: 32px;
  background-color: #1F1D1D;
}

.form_inputs {
  display: flex;
  gap: 16px;
  align-items: end;
}

.btn_gerar {
  border: none;
  border-radius: 6px;
  width: 150px;
  height: 40px;
  background-color: #385bad;
  color: #faf5e9;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.status_mensal {
    display: flex;
    justify-content: center;
    width: 300px;
    border-radius: 6px;
    background-color: green;
}

.label_status_mensal {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 48px;
    gap: 10px;
}

@media (max-width: 479px){
  .MonthlyfeeGeneratorComponent_div{
    width: 98%;
    height: 500px;
  }
  .form_inputs{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media (min-width: 480px) and (max-width: 799px){
  .MonthlyfeeGeneratorComponent_div{
    width: 90%;
    height: 500px;
  }
  .form_inputs{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media(min-width: 1200px){
  .MonthlyfeeGeneratorComponent_div{
    & .form_inputs{
      width: 400px;
    }
  }
}
