.mainAdmin_manager{
    display: flex;
    width: 100%;
    height: calc(100vh - 7.8vh);
    align-items: center;
    justify-content: center;
}

.adminManager_menu{
    display: flex;
    flex-direction: column;
    width: 220px;
    border-radius: 6px 0px 0px 6px;
    background-color: black;
}

.label_menu{
    display: flex;
    align-items: center;
    padding: 32px;
    width: 220px;
    height: 50px;
    cursor: pointer;

    &:hover{
        border-radius: 6px 0px 0px 6px;
        background-color: #1F1D1D;
    }
}

.form_adminManager{
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 800px;
    height: 540px;
    border-radius: 6px;
    background-color: #1F1D1D;
}