.table-leadHistory{

}

.table-leadHistory-header{
    background-color: black;
}

.table-leadHistory-header-row{
    
    th{
        font-size: 14px;
        padding: 6px;
    }
}

.table-leadHistory-body{
    background-color: #1f1d1d;
    
}

.table-leadsHistory-body-row{
    td{
        align-items: center;
        padding: 6px;
    }
}
