.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}
.modal {
  height: 540px;
  position: absolute;
  z-index: 1;
  background-color: #1f1d1d;
  border-radius: 6px;
}

.modal-form {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 480px;
  height: 520px;
  border-radius: 6px;
  padding: 6px 24px;
  gap: 8px;
}

.modal-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
}

.modal-close-button {
  border: none;
  height: 36px;
  background-color: #385bad;
  font-size: 14px;
  padding: 8px;
  color: #faf5e9;
  border-radius: 6px;
  margin-right: 6px;
  cursor: pointer;

  &:hover {
    background-color: #284487;
  }
}

.modal-title-text {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 18px;
  padding: 10px;
}

/* .modal-form {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 32px;
  gap: 18px;
} */

.modal-form-imputs {
  display: flex;
  & .label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
  }
}

.modal-form-button {
  background-color: #385bad;
  color: #faf5e9;
  border: none;
  border-radius: 6px;
  padding: 8px;
  cursor: pointer;

  &:hover {
    background-color: #284487;
  }
}

.checkboxs {
  display: grid;
  grid-template-columns: auto auto;
}

.checkbox {
  width: 50px;
}

@media (min-width: 1000px) {
  .modal {
    display: flex;
    margin-top: 70px;
  }

  .modal-form {
    .input-field {
      min-height: 50px;
    }
  }
}
