.admin-manager{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 11.4vh);
    padding: 12px;
    gap: 2px;
}

.admin-manager-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 160px;
    height: 500px;
    border-radius: 6px 0 0 6px;
    background-color: #1F1D1D;
    padding: 6px;
    gap: 16px;
}

.admin-manager-menu-item{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px double #363A3D;
    border-radius: 6px;
    cursor: pointer;
    padding: 12px;

    &:hover{
        background-color: #faa01c;
        box-shadow: 0 4px 12px rgba(250, 160, 28, 0.4);
    }
}

.admin-manager-menu-item.active{
    background-color: #faa01c;
    box-shadow: 0 4px 12px rgba(250, 160, 28, 0.4);
}

.admin-manager-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    height: 500px;
    background-color: #1F1D1D;
    border-radius: 0 6px 6px 0;
    padding: 12px;
    overflow-y: auto;
}

.admin-manager-content::-webkit-scrollbar{
    width: 8px;
}

.admin-manager-content::-webkit-scrollbar-track{
    background-color: #2f2d2d;
}

.admin-manager-content::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.admin-manager-content::-webkit-scrollbar-thumb:hover {
  background-color: #1f1d1d;
}

.admin-manager-content-operator{
    display: flex;
    width: 100%;
    gap: 12px;
    border: 3px double #363A3D;
    border-radius: 6px;
    padding: 6px;

    strong{
        font-size: 12px;
    }
}

.admin-manager-content-operator-btns{
    display: flex;
    align-items: flex-end;

    button{
        width: 60px;
        height: 30px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
    }
}

.whatsappmanager{
    display: flex;
    width: 80%;
    flex-direction: column;
    border: 3px double #363A3D;
    border-radius: 6px;
    padding: 12px;
    gap: 20px;
}

.whatsappmanager-header{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.whatsappmanager-header-content{
    display: flex;

}

.whatsappmanager-tips{
    display: flex;
    flex-direction: column;
    label{
        font-size: 12px;
    }
}

.campain{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.campain-divs{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    border: 1px solid red;
    padding: 12px;
    gap: 32px;
    
}

.campain-divs-body{
    width: 100%;
    height: 50%;
}

.campain-divs-body-campains{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 3px double #2f2d2d;
    border-radius: 6px;
    padding: 0 2px;
    padding: 6px;
    gap: 4px;
    overflow-y: auto;
}

.campain-divs-body-campains::-webkit-scrollbar{
    background-color: #1F1D1D;
    width: 8px;
}
.campain-divs-body-campains::-webkit-scrollbar-thumb{
    background-color: #2f2d2d;
    cursor: pointer;
    
}

.campain-divs-body-campains-itens{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 26%;
    background-color: #363A3D;
    border-radius: 6px;
    font-size: 14px;
    padding: 6px;

    input{
        background-color: transparent;
        border: none;
        outline: none;
        height: 100%;
        color: #FAF5E9;
    }
}

.campain-divs-body-campains-itens-icons{
    display: flex;
    gap: 12px;
    p{
        font-size: 14px;
        cursor: pointer;

        &:hover{
            opacity: 0.8;
        }
    }
}

.campain-divs-bottom{
    display: flex;
    align-items: flex-end;
    gap: 16px;
    border: 3px double #2f2d2d;
    border-radius: 6px;
    padding: 6px;
}

