.table-confirmation-container{
    max-width: 1120px;
    table-layout: auto;
}

.table-confirmation{
    width: 100%;
}

.table-head-confirmation{
    position: sticky;
}

.table-head-confirmation-text{
    border-radius: 6px;
    padding: 6px 12px;
    background-color: black;
}

.table-body-confirmation-tr{
    cursor: pointer;
    background-color: #1F1D1D;
    transition: 0.3s;

    &:hover{
        background-color: #FAA01C;
    }
    
}
.table-body-confirmation-text{
    text-align: center;
    border-radius: 6px;
    padding: 6px 24px;
    
}