.modalOverlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

}

.modalContent{
    background-color: #1F1D1D;
    padding: 20px;
    border-radius: 6px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    gap: 12px;
}

.modalActions{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;

}

.cancelButton{
    padding: 8px 16px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;

    &:hover{
        opacity: 0.8;
    }

}

.confirmButton{
    padding: 8px 16px;
    background-color: #940000;
    color: #FAF5E9;
    border: none;
    border-radius: 6px;
    cursor: pointer;

    &:hover{
        opacity: 0.8;
    }

}

